* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: white;
  background-color: #0a0a0a;
}

.hero {
  background: linear-gradient(
    180deg,
    rgba(21, 14, 32, 1) 0%,
    rgba(10, 10, 11, 1) 100%
  );
  /* background: linear-gradient(to right, red, yellow, blue); */
  /* background: linear-gradient(to right, red 0%, yellow 30%, blue 100%); */

	min-height: 100vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	gap: 2rem;
}

.announcement {
  border: 1px solid #ffffff2f ;
border-radius: 100px ;
background-color:#ffffff0e ;
padding: 15px 10px 15px 10px
;


}

.announcement-link {
  text-decoration: none;
  /*  */
  padding: 25px 10px;
  /* border-radius: 100px; */
}

.announcement-link:hover {
}

.announcement-text {
  color: aliceblue;
    text-decoration: none;
  
}

.announcement-button {
  /* border:  4px solid rgb(172, 133, 219); */
    border-radius: 15px;
    padding: 5px ;
    background-color:  #b7b7b71f;
  color: white;
  }


.hero-content {
  /* text-align: center;
  gap: 100px;
  width: 75%; */
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

}

.hero-title {
  font-weight: 600;
    font-size:85px ;
    letter-spacing: -2px;
    line-height: 95px;
    text-align: center;
  }


.hero-description {
  font-weight: 800;
  text-align: center;
  margin: 20px 15% 20px 15%;
  line-height: 30px;
  color: azure;
  letter-spacing: 1px;
}

.cta-button {
  
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50px;
  padding: 20px 15px 20px 15px;
  color: rgb(226, 211, 211);
  background: linear-gradient(
    135deg,
    rgba(47, 94, 234, 1) 0%,
    rgba(116, 61, 236, 1) 100%
  );

font-size: medium;
font-weight: 500;
letter-spacing: 1px;

  

  
 
}

.cta-button:hover {
}

@media (max-width: 640px) {
  .hero {
    padding: 1rem;
  }

  .announcement-link {
    font-size: 0.75rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}
